Repository usdigitalresponse/cpf-reporter, pull requests merged in 2023-12, with the labels that each got.

#30 Fix typo in validate-deployment workflow (issue #7)
  .github/workflows/ci.yml
  .github/workflows/validate-deployment.yml
Labels: bug, github

#31 Add missing env var in validate-deployment workflow
  .github/workflows/validate-deployment.yml
Labels: bug, github

#32 Fix incorrect job input for API function artifacts path (issue #7)
  .github/workflows/deploy-staging.yml
Labels: bug, github

#13 Initial models and Routes - Agencies/Organizations
  .gitignore
  .nvmrc
  api/db/migrations/20231128040217_basic_agency/migration.sql
  api/db/migrations/20231201164202_added_tenant/migration.sql
  api/db/migrations/20231201204518_changed_tenant_to_organization/migration.sql
  api/db/migrations/migration_lock.toml
  api/db/schema.prisma
  api/src/graphql/agencies.sdl.ts
  api/src/graphql/organizations.sdl.ts
  api/src/services/agencies/agencies.scenarios.ts
  api/src/services/agencies/agencies.test.ts
  api/src/services/agencies/agencies.ts
  api/src/services/organizations/organizations.scenarios.ts
  api/src/services/organizations/organizations.test.ts
  api/src/services/organizations/organizations.ts
  api/types/graphql.d.ts
  docs/README.md
  package.json
  prettier.config.js
  redwood.toml
  web/config/postcss.config.js
  web/package.json
  web/src/App.tsx
  web/src/Routes.tsx
  web/src/components/Agency/Agencies/Agencies.tsx
  web/src/components/Agency/AgenciesCell/AgenciesCell.tsx
  web/src/components/Agency/Agency/Agency.tsx
  web/src/components/Agency/AgencyCell/AgencyCell.tsx
  web/src/components/Agency/AgencyForm/AgencyForm.tsx
  web/src/components/Agency/EditAgencyCell/EditAgencyCell.tsx
  web/src/components/Agency/NewAgency/NewAgency.tsx
  web/src/components/Organization/EditOrganizationCell/EditOrganizationCell.tsx
  web/src/components/Organization/NewOrganization/NewOrganization.tsx
  web/src/components/Organization/Organization/Organization.tsx
  web/src/components/Organization/OrganizationCell/OrganizationCell.tsx
  web/src/components/Organization/OrganizationForm/OrganizationForm.tsx
  web/src/components/Organization/Organizations/Organizations.tsx
  web/src/components/Organization/OrganizationsCell/OrganizationsCell.tsx
  web/src/index.css
  web/src/layouts/ScaffoldLayout/ScaffoldLayout.tsx
  web/src/lib/formatters.test.tsx
  web/src/lib/formatters.tsx
  web/src/pages/Agency/AgenciesPage/AgenciesPage.tsx
  web/src/pages/Agency/AgencyPage/AgencyPage.tsx
  web/src/pages/Agency/EditAgencyPage/EditAgencyPage.tsx
  web/src/pages/Agency/NewAgencyPage/NewAgencyPage.tsx
  web/src/pages/Organization/EditOrganizationPage/EditOrganizationPage.tsx
  web/src/pages/Organization/NewOrganizationPage/NewOrganizationPage.tsx
  web/src/pages/Organization/OrganizationPage/OrganizationPage.tsx
  web/src/pages/Organization/OrganizationsPage/OrganizationsPage.tsx
  web/src/scss/colors-base-tokens.scss
  web/src/scss/colors-semantic-tokens.scss
  web/src/scss/custom.scss
  web/src/scss/fonts.scss
  web/types/graphql.d.ts
  yarn.lock
Labels: documentation, github, javascript, database, dependencies

#37 Setup observability
  .env.defaults
  .github/workflows/deploy-staging.yml
  api/db/schema.prisma
  api/package.json
  api/src/functions/graphql.ts
  api/src/lib/db.ts
  api/src/lib/tracer.ts
  redwood.toml
  terraform/functions.tf
  terraform/staging.tfvars
  terraform/variables.tf
  web/package.json
  web/src/App.tsx
  web/tsconfig.json
  yarn.lock
Labels: github, javascript, terraform, infra, database, dependencies

#38 Add ECS task for RedwoodJS console
  .github/CODEOWNERS
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/terraform-plan.yml
  Dockerfile
  aws-public-key.gpg
  terraform/ecs_cluster.tf
  terraform/ecs_redwood_console.tf
  terraform/variables.tf
Labels: enhancement, github, terraform, infra

#39 fix: remove tf-plan conditional in CI workflow
  .github/workflows/ci.yml
Labels: bug, github

#41 feat: add Upload, ExpenditureCategory, and UploadValidation
  api/db/migrations/20231208211141_add_upload_expenditurecategory_and_uploadvalidation/migration.sql
  api/db/schema.prisma
  api/src/graphql/expenditureCategories.sdl.ts
  api/src/graphql/uploadValidations.sdl.ts
  api/src/graphql/uploads.sdl.ts
  api/src/services/expenditureCategories/expenditureCategories.scenarios.ts
  api/src/services/expenditureCategories/expenditureCategories.test.ts
  api/src/services/expenditureCategories/expenditureCategories.ts
  api/src/services/uploadValidations/uploadValidations.scenarios.ts
  api/src/services/uploadValidations/uploadValidations.test.ts
  api/src/services/uploadValidations/uploadValidations.ts
  api/src/services/uploads/uploads.scenarios.ts
  api/src/services/uploads/uploads.test.ts
  api/src/services/uploads/uploads.ts
  api/types/graphql.d.ts
  web/types/graphql.d.ts
Labels: enhancement, javascript, database

#42 feat: add Subrecipient and Project to the schema
  api/db/migrations/20231209145213_add_subrecipient_and_project/migration.sql
  api/db/schema.prisma
  api/src/graphql/projects.sdl.ts
  api/src/graphql/subrecipients.sdl.ts
  api/src/services/projects/projects.scenarios.ts
  api/src/services/projects/projects.test.ts
  api/src/services/projects/projects.ts
  api/src/services/subrecipients/subrecipients.scenarios.ts
  api/src/services/subrecipients/subrecipients.test.ts
  api/src/services/subrecipients/subrecipients.ts
  api/types/graphql.d.ts
  web/types/graphql.d.ts
Labels: enhancement, javascript, database

#43 Schema naming fixes
  api/db/schema.prisma
  api/src/graphql/uploadValidations.sdl.ts
  api/src/graphql/uploads.sdl.ts
  api/src/services/subrecipients/subrecipients.scenarios.ts
  api/src/services/uploadValidations/uploadValidations.scenarios.ts
  api/src/services/uploadValidations/uploadValidations.ts
  api/src/services/uploads/uploads.scenarios.ts
  api/src/services/uploads/uploads.ts
  api/types/graphql.d.ts
  web/types/graphql.d.ts
Labels: bug, javascript, database

#44 Support SPA requests by routing 404 to /index.html
  terraform/web.tf
Labels: bug, terraform, infra

#45 Correlate RUM with API requests
  web/src/App.tsx
Labels: enhancement, javascript

#46 fix: Propagate ECS task tags from service
  terraform/ecs_redwood_console.tf
Labels: bug, terraform, infra, skip-changelog

#47 Configure Access-Control-Allow-Headers for RUM
  terraform/api_gateway.tf
Labels: enhancement, terraform, infra

#51 Add Dashboard page (Uploads table), create a reusable TableBuilder
  api/src/services/agencies/agencies.scenarios.ts
  api/src/services/agencies/agencies.ts
  api/src/services/expenditureCategories/expenditureCategories.scenarios.ts
  api/src/services/inputTemplates/inputTemplates.scenarios.ts
  api/src/services/organizations/organizations.scenarios.ts
  api/src/services/outputTemplates/outputTemplates.scenarios.ts
  api/src/services/projects/projects.scenarios.ts
  api/src/services/reportingPeriods/reportingPeriods.scenarios.ts
  api/src/services/roles/roles.scenarios.ts
  api/src/services/uploadValidations/uploadValidations.test.ts
  api/src/services/uploads/uploads.scenarios.ts
  api/src/services/uploads/uploads.test.ts
  api/src/services/users/users.scenarios.ts
  api/types/graphql.d.ts
  package-lock.json
  web/package.json
  web/src/Routes.tsx
  web/src/components/TableBuilder/DebouncedInput.tsx
  web/src/components/TableBuilder/Filter.tsx
  web/src/components/TableBuilder/TableBuilder.tsx
  web/src/components/TableBuilder/TableHeader.tsx
  web/src/components/TableBuilder/TableRow.tsx
  web/src/components/Upload/EditUploadCell/EditUploadCell.tsx
  web/src/components/Upload/NewUpload/NewUpload.tsx
  web/src/components/Upload/Upload/Upload.tsx
  web/src/components/Upload/UploadCell/UploadCell.tsx
  web/src/components/Upload/UploadForm/UploadForm.tsx
  web/src/components/Upload/Uploads/Uploads.tsx
  web/src/components/Upload/Uploads/columns.tsx
  web/src/components/Upload/UploadsCell/UploadsCell.tsx
  web/src/pages/Upload/EditUploadPage/EditUploadPage.tsx
  web/src/pages/Upload/NewUploadPage/NewUploadPage.tsx
  web/src/pages/Upload/UploadPage/UploadPage.tsx
  web/src/pages/Upload/UploadsPage/UploadsPage.tsx
  web/src/scss/custom.scss
  web/src/scss/tables.scss
  web/src/utils/index.ts
  web/types/graphql.d.ts
  yarn.lock
Labels: enhancement, javascript, database, dependencies

#52 chore: add passage and redwood custom auth
  api/src/directives/requireAuth/requireAuth.test.ts
  api/src/functions/graphql.ts
  api/src/lib/auth.ts
  package.json
  web/package.json
  web/src/App.tsx
  web/src/Routes.tsx
  web/src/auth.ts
  yarn.lock
Labels: javascript, dependencies

#49 23 adding localstack config, docker-compose.yml and the aws library w…
  .gitignore
  api/package.json
  api/src/lib/aws.ts
  localstack/docker-compose.yml
  localstack/entrypoint/init-aws.sh
  yarn.lock
Labels: enhancement, github, javascript, infra, dependencies

#48 14/View users page, add user page, edit user page
  api/db/migrations/20231211050651_update_user_database_timestamps/migration.sql
  api/db/migrations/20231212224549_update_organization_id_to_optional_for_user/migration.sql
  api/db/schema.prisma
  api/src/graphql/users.sdl.ts
  api/src/services/users/users.scenarios.ts
  api/src/services/users/users.test.ts
  api/src/services/users/users.ts
  api/types/graphql.d.ts
  web/src/Routes.tsx
  web/src/components/User/EditUserCell/EditUserCell.tsx
  web/src/components/User/NewUser/NewUser.tsx
  web/src/components/User/User/User.tsx
  web/src/components/User/UserCell/UserCell.tsx
  web/src/components/User/UserForm/UserForm.tsx
  web/src/components/User/Users/Users.tsx
  web/src/components/User/UsersCell/UsersCell.tsx
  web/src/pages/User/EditUserPage/EditUserPage.tsx
  web/src/pages/User/NewUserPage/NewUserPage.tsx
  web/src/pages/User/UserPage/UserPage.tsx
  web/src/pages/User/UsersPage/UsersPage.tsx
  web/types/graphql.d.ts
Labels: javascript, database

#54 CPF-34 Add Navigation layout, use private routes
  .gitignore
  api/src/lib/auth.ts
  api/types/graphql.d.ts
  web/src/Routes.tsx
  web/src/components/Navigation/Navigation.tsx
  web/src/layouts/AuthenticatedLayout/AuthenticatedLayout.stories.tsx
  web/src/layouts/AuthenticatedLayout/AuthenticatedLayout.test.tsx
  web/src/layouts/AuthenticatedLayout/AuthenticatedLayout.tsx
  web/src/layouts/ScaffoldLayout/ScaffoldLayout.tsx
  web/src/pages/LoginPage/LoginPage.stories.tsx
  web/src/pages/LoginPage/LoginPage.test.tsx
  web/src/pages/LoginPage/LoginPage.tsx
  web/src/pages/ReportingPeriodsPage/ReportingPeriodsPage.tsx
  web/src/scss/custom.scss
  web/src/scss/fonts.scss
  web/src/scss/layouts.scss
  web/types/graphql.d.ts
Labels: enhancement, github, javascript, infra

#53 Feature/24 submit workbook page
  api/db/migrations/20231217212515_relate_reporting_period_to_org/migration.sql
  api/db/migrations/20231217214528_updated_at_defaults_to_now/migration.sql
  api/db/migrations/20231222193706_add_notes_on_upload/migration.sql
  api/db/schema.prisma
  api/package.json
  api/src/graphql/reportingPeriods.sdl.ts
  api/src/graphql/uploads.sdl.ts
  api/src/lib/auth.ts
  api/src/lib/aws.ts
  api/src/lib/ec-codes.ts
  api/src/lib/persist-upload.js
  api/src/lib/preconditions.ts
  api/src/lib/records.js
  api/src/lib/templateRules.ts
  api/src/lib/validate-upload.js
  api/src/lib/validation-error.ts
  api/src/lib/validation-rules.js
  api/src/services/projects/projects.scenarios.ts
  api/src/services/projects/projects.test.ts
  api/src/services/reportingPeriods/reportingPeriods.scenarios.ts
  api/src/services/reportingPeriods/reportingPeriods.test.ts
  api/src/services/reportingPeriods/reportingPeriods.ts
  api/src/services/subrecipients/subrecipients.scenarios.ts
  api/src/services/subrecipients/subrecipients.test.ts
  api/src/services/uploads/uploads.scenarios.ts
  api/src/services/uploads/uploads.test.ts
  api/src/services/uploads/uploads.ts
  api/tsconfig.json
  api/types/graphql.d.ts
  web/src/auth.ts
  web/src/components/Upload/NewUpload/NewUpload.tsx
  web/src/components/Upload/UploadForm/UploadForm.tsx
  web/src/pages/Upload/UploadsPage/UploadsPage.tsx
  web/types/graphql.d.ts
  yarn.lock
Labels: enhancement, github, javascript, infra, database, dependencies
