Repository usdigitalresponse/cpf-reporter, pull requests merged in 2024-11, with the labels that each got.

#503 [nit][pre-commit] add pre-commit to clean up trailing spaces, python formatting, yaml checking, etc.
  .pre-commit-config.yaml
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.7.0.cjs
  __mocks__/passage-user.ts
  api/db/migrations/20240328182356_add_upload_validation_constraint/migration.sql
  api/db/migrations/20240603182838_populate_organization_preferences/migration.sql
  api/db/migrations/migration_lock.toml
  api/db/schema.prisma
  api/src/functions/processValidationJson/processValidationJson.ts
  docker-compose.dev.yml
  docs/python-schema.md
  python/src/functions/create_archive.py
  python/src/functions/generate_presigned_url_and_send_email.py
  python/src/functions/subrecipient_treasury_report_gen.py
  python/src/functions/test_lambdas.py
  python/src/lib/email.py
  python/src/lib/s3_helper.py
  python/src/lib/treasury_generation_common.py
  python/tests/test_create_archive.bats
  scripts/local_treasury_file_generation/clear_group.sh
  scripts/sample_lambda.py
  terraform/datadog_metrics.tf
  terraform/variables.tf
  web/src/components/Organization/NewOrganizationForm/NewOrganizationForm.tsx
  web/src/components/TableBuilder/DebouncedInput.tsx
  web/src/components/TreasuryGeneration/NewTreasuryGenerationForm/NewTreasuryGenerationForm.tsx
  web/src/index.css
  web/src/scss/colors-base-tokens.scss
  web/src/scss/colors-semantic-tokens.scss
  web/src/scss/custom.scss
  web/src/scss/fonts.scss
  web/src/scss/layouts.scss
  web/src/scss/tables.scss
  web/types/passage.d.ts
Labels: documentation, javascript, terraform, infra, database, python

#504 CPF-492 Add "Only Treasury Uploads" filter
  api/src/graphql/uploads.sdl.ts
  api/src/services/uploads/uploads.ts
  web/src/components/TableBuilder/TableBuilder.tsx
  web/src/components/Upload/Uploads/Uploads.tsx
  web/src/components/Upload/UploadsCell/UploadsCell.tsx
Labels: enhancement, javascript

#499 Feat: add new output template button
  web/src/pages/OutputTemplate/OutputTemplatesPage/OutputTemplatesPage.tsx
Labels: enhancement, javascript

#506 [nit][pre-commit][mypy] add mypy type checking to precommit
  .pre-commit-config.yaml
  python/src/functions/create_archive.py
  python/src/functions/generate_presigned_url_and_send_email.py
  python/src/functions/generate_treasury_report.py
  python/src/functions/subrecipient_treasury_report_gen.py
  python/src/functions/validate_workbook.py
  python/src/lib/constants.py
  python/src/lib/email.py
  python/src/lib/logging.py
  python/src/lib/output_template_comparator.py
  python/src/lib/s3_helper.py
  python/src/lib/treasury_generation_common.py
  python/src/lib/workbook_utils.py
  python/src/lib/workbook_validator.py
  python/src/schemas/project_types.py
  python/src/schemas/schema_V2024_04_01.py
  python/src/schemas/schema_V2024_05_24.py
  python/src/schemas/schema_versions.py
  python/tests/conftest.py
  python/tests/src/lib/test_create_archive.py
  python/tests/src/lib/test_output_template_comparator.py
  python/tests/src/lib/test_subrecipient_treasury_report_gen.py
  python/tests/src/lib/test_treasury_report_1A.py
  python/tests/src/lib/test_treasury_report_1B.py
  python/tests/src/lib/test_treasury_report_1C.py
  python/tests/src/lib/test_workbook_validator.py
  scripts/sample_lambda.py
Labels: python

#509 [ci] add `mypy` to as a part of `qa`
  .github/workflows/ci.yml
  .github/workflows/publish-qa-results.yml
  .github/workflows/qa.yml
  python/poetry.lock
  python/pyproject.toml
  python/src/functions/create_archive.py
  python/src/functions/test_lambdas.py
Labels: github, dependencies, python

#519 Fix: Missing poetry in "Type-check python" GHA job
  .github/workflows/qa.yml
Labels: bug, github
