Repository usdigitalresponse/cpf-reporter, pull requests merged in 2024-12, with the labels that each got.

#559 [fix][ci] adds `working-directory` default to the `mypy` job
  .github/workflows/qa.yml
Labels: bug, github

#560 [treasury-report][frontend] Add force regenerate button
  api/src/graphql/uploads.sdl.ts
  api/src/services/uploads/uploads.test.ts
  api/src/services/uploads/uploads.ts
  web/src/pages/Upload/UploadsPage/UploadsPage.tsx
Labels: javascript

#575 [fix][ci] remove 'python/' from changed files that are passed in
  .github/workflows/qa.yml
Labels: bug, github

#515 [python][treasury-report] add `force-regenerate` parameter to allow for deletion of the existing treasury file before generation
  api/src/graphql/uploads.sdl.ts
  api/src/services/uploads/uploads.test.ts
  api/src/services/uploads/uploads.ts
  python/src/functions/generate_treasury_report.py
  python/src/lib/s3_helper.py
  terraform/treasury_generation_lambda_functions.tf
  web/src/pages/Upload/UploadsPage/UploadsPage.tsx
Labels: javascript, terraform, infra, dependencies, python

#586 [treasury-report] treasury archive timestamps in the emails
  python/src/functions/generate_presigned_url_and_send_email.py
  python/src/lib/s3_helper.py
Labels: python

#496 Feature: Upload series (#327)
  api/src/graphql/uploads.sdl.ts
  api/src/services/uploads/uploads.test.ts
  api/src/services/uploads/uploads.ts
  web/src/components/ReportingPeriod/ReportingPeriods/ReportingPeriods.tsx
  web/src/components/ReportingPeriod/ReportingPeriods/columns.tsx
  web/src/components/Subrecipient/SubrecipientTableUploadLinksDisplay/SubrecipientTableUploadLinksDisplay.tsx
  web/src/components/Subrecipient/Subrecipients/Subrecipients.tsx
  web/src/components/Subrecipient/Subrecipients/columns.tsx
  web/src/components/TableBuilder/TableBuilder.tsx
  web/src/components/TableBuilder/TableRow.tsx
  web/src/components/Upload/Upload/Upload.tsx
  web/src/components/Upload/UploadCell/UploadCell.tsx
  web/src/components/Upload/UploadSeriesTable/UploadSeriesTable.mock.ts
  web/src/components/Upload/UploadSeriesTable/UploadSeriesTable.test.tsx
  web/src/components/Upload/UploadSeriesTable/UploadSeriesTable.tsx
  web/src/components/Upload/UploadSeriesTable/columns.tsx
  web/src/components/Upload/Uploads/Uploads.tsx
  web/src/components/Upload/Uploads/columns.tsx
Labels: enhancement, javascript
