Repository usdigitalresponse/cpf-reporter, pull requests merged in 2024-08, with the labels that each got.

#375 fix: add correct prefix to step function
  terraform/treasury_generation_step_function.tf
Labels: bug, terraform, infra

#367 Python script to populate output template with Subrecipients
  api/src/lib/aws.test.ts
  api/src/services/uploads/uploads.scenarios.ts
  python/src/functions/generate_treasury_report.py
  python/src/functions/subrecipient_treasury_report_gen.py
  python/src/functions/validate_workbook.py
  python/src/lib/s3_helper.py
  python/src/lib/workbook_utils.py
  python/tests/conftest.py
  python/tests/data/subrecipient_treasury_template_empty.xlsx
  python/tests/src/lib/test_subrecipient_treasury_report_gen.py
  scripts/awsTest.ts
  scripts/deleteTestFiles.ts
  scripts/sample_lambda.js
Labels: javascript, python

#377 fix: remove unsupported ProjectType field
  terraform/treasury_generation_step_function.tf
Labels: bug, terraform, infra

#383 Update README local dev run list
  README.md
Labels: documentation

#379 CPF-380 Users and Agencies tabs visible for org users
  api/src/graphql/agencies.sdl.ts
  api/src/services/users/users.ts
  web/src/Routes.tsx
  web/src/components/Navigation/Navigation.tsx
Labels: enhancement, javascript

#378 CPF-107 Delete passage user on deactivation
  api/src/services/users/users.ts
Labels: enhancement, javascript

#384 chore: make tweaks to ensure step-function kick-off is consistent across file-generation lambdas
  api/src/functions/processValidationJson/processValidationJson.ts
  python/src/functions/generate_treasury_report.py
  python/src/functions/subrecipient_treasury_report_gen.py
  python/src/lib/constants.py
  python/src/lib/treasury_generation_common.py
  python/src/schemas/schema_versions.py
  python/tests/conftest.py
  python/tests/src/lib/test_subrecipient_treasury_report_gen.py
Labels: javascript, python

#382 fix: ensure reporting period is able to be created correctly
  scripts/seed.ts
Labels: bug, javascript

#374 chore: update the certificate file to connect to RDS
  .github/CODEOWNERS
  .github/workflows/build.yml
  api/db/rds-combined-ca-bundle.pem
  api/db/rds-global-bundle.pem
  terraform/ecs_redwood_console.tf
  terraform/functions.tf
Labels: github, javascript, terraform, infra, database

#391 fix: build pipeline error - typo in bash command
  .github/workflows/build.yml
Labels: bug, github

#390 CPF-368 Subrecipient Tab (view only)
  api/src/graphql/subrecipientUploads.sdl.ts
  api/src/graphql/subrecipients.sdl.ts
  api/src/services/subrecipientUploads/subrecipientUploads.scenarios.ts
  api/src/services/subrecipientUploads/subrecipientUploads.test.ts
  api/src/services/subrecipientUploads/subrecipientUploads.ts
  api/src/services/subrecipients/subrecipients.scenarios.ts
  api/src/services/subrecipients/subrecipients.test.ts
  api/src/services/subrecipients/subrecipients.ts
  web/src/Routes.tsx
  web/src/components/Navigation/Navigation.tsx
  web/src/components/Subrecipient/SubrecipientTableUploadLinksDisplay/SubrecipientTableUploadLinksDisplay.stories.tsx
  web/src/components/Subrecipient/SubrecipientTableUploadLinksDisplay/SubrecipientTableUploadLinksDisplay.tsx
  web/src/components/Subrecipient/Subrecipients/Subrecipients.tsx
  web/src/components/Subrecipient/Subrecipients/columns.tsx
  web/src/components/Subrecipient/SubrecipientsCell/SubrecipientsCell.tsx
  web/src/pages/Subrecipient/SubrecipientsPage/SubrecipientsPage.tsx
  web/src/utils/index.ts
Labels: enhancement, javascript

#388 Issue #318 - Lambda Function To Create Archives
  .gitignore
  localstack/docker-compose.yml
  localstack/entrypoint/init-aws.sh
  python/src/functions/create_archive.py
  python/src/functions/subrecipient_treasury_report_gen.py
  python/src/functions/test_lambdas.py
  python/tests/conftest.py
  python/tests/src/lib/test_create_archive.py
  python/tests/test-create-archive.sh
  python/tests/test_create_archive.bats
  terraform/functions.tf
Labels: enhancement, github, terraform, infra, python

#393 chore: update terraform to kick-off archive from step functions
  terraform/functions.tf
  terraform/treasury_generation_lambda_functions.tf
  terraform/treasury_generation_step_function.tf
Labels: terraform, infra

#392 feat: add ability to manage output templates from as a USDR Admin
  api/src/graphql/organizations.sdl.ts
  api/src/graphql/outputTemplates.sdl.ts
  api/src/lib/aws.ts
  api/src/lib/constants.ts
  api/src/services/organizations/organizations.ts
  api/src/services/outputTemplates/outputTemplates.scenarios.ts
  api/src/services/outputTemplates/outputTemplates.test.ts
  api/src/services/outputTemplates/outputTemplates.ts
  api/src/services/uploads/uploads.test.ts
  api/src/services/uploads/uploads.ts
  python/src/lib/treasury_generation_common.py
  terraform/functions.tf
  web/src/Routes.tsx
  web/src/components/Navigation/Navigation.tsx
  web/src/components/Organization/EditOrganizationCell/EditOrganizationCell.tsx
  web/src/components/Organization/EditOrganizationForm/EditOrganizationForm.tsx
  web/src/components/Organization/OrganizationCell/OrganizationCell.tsx
  web/src/components/Organization/OrganizationPickListsCell/OrganizationPickListsCell.tsx
  web/src/components/OutputTemplate/EditOutputTemplateCell/EditOutputTemplateCell.tsx
  web/src/components/OutputTemplate/NewOutputTemplate/NewOutputTemplate.tsx
  web/src/components/OutputTemplate/OutputTemplate/OutputTemplate.tsx
  web/src/components/OutputTemplate/OutputTemplateCell/OutputTemplateCell.tsx
  web/src/components/OutputTemplate/OutputTemplateForm/OutputTemplateForm.tsx
  web/src/components/OutputTemplate/OutputTemplates/OutputTemplates.tsx
  web/src/components/OutputTemplate/OutputTemplatesCell/OutputTemplatesCell.tsx
  web/src/pages/OutputTemplate/EditOutputTemplatePage/EditOutputTemplatePage.tsx
  web/src/pages/OutputTemplate/NewOutputTemplatePage/NewOutputTemplatePage.tsx
  web/src/pages/OutputTemplate/OutputTemplatePage/OutputTemplatePage.tsx
  web/src/pages/OutputTemplate/OutputTemplatesPage/OutputTemplatesPage.tsx
Labels: bug, enhancement, javascript, terraform, infra, python

#394 CPF-381 Deactivate User - Front End
  api/src/graphql/users.sdl.ts
  api/src/services/users/users.scenarios.ts
  api/src/services/users/users.test.ts
  scripts/awsTest.ts
  scripts/deleteTestFiles.ts
  web/src/components/User/EditUserCell/EditUserCell.tsx
  web/src/components/User/UserCell/UserCell.tsx
  web/src/components/User/UserForm/UserForm.tsx
  web/src/components/User/Users/Users.tsx
  web/src/components/User/UsersCell/UsersCell.tsx
Labels: enhancement, javascript

#397 fix: explicitly set the certificate authority for postgres db
  terraform/postgres.tf
  terraform/production.tfvars
  terraform/staging.tfvars
  terraform/variables.tf
Labels: bug, terraform, infra

#402 fix: treasury reports generation s3 permissions
  terraform/treasury_generation_lambda_functions.tf
Labels: bug, terraform, infra

#403 chore: refactor common code across lambda functions and fixes incorrect typing
  python/src/functions/generate_treasury_report.py
  python/src/functions/subrecipient_treasury_report_gen.py
  python/src/lib/s3_helper.py
  python/src/lib/treasury_generation_common.py
  python/src/lib/workbook_utils.py
  python/tests/src/lib/test_subrecipient_treasury_report_gen.py
Labels: bug, python

#401 CPF-387 - Add unit tests for createUser/updateUser
  api/src/services/users/users.scenarios.ts
  api/src/services/users/users.test.ts
  api/src/services/users/users.ts
Labels: enhancement, javascript

#406 fix: typo in s3 path name
  terraform/treasury_generation_lambda_functions.tf
Labels: bug, terraform, infra

#405 chore: reorganizes email-lambda and provides ses permission
  terraform/email.tf
  terraform/functions.tf
  terraform/treasury_generation_lambda_functions.tf
  terraform/variables.tf
Labels: terraform, infra
