Repository usdigitalresponse/cpf-reporter, pull requests merged in 2024-02, with the labels that each got.

#96 CPF-92 Pass back signedUrl when creating a new upload
  api/src/services/uploads/uploads.ts
Labels: enhancement, javascript

#98 Fix: Add CORS config to reporting data bucket
  terraform/functions.tf
Labels: bug, terraform, infra

#100 Fix: S3 pre-signed uploads (PR #98 follow up)
  api/src/lib/aws.ts
  terraform/functions.tf
Labels: bug, javascript, terraform, infra

#111 CPF-103 Update User model
  api/db/migrations/20240214193745_remove_user_validation_subrecipients_relations/migration.sql
  api/db/migrations/20240216211114_make_user_email_unique/migration.sql
  api/db/schema.prisma
  api/src/graphql/users.sdl.ts
  api/src/services/subrecipients/subrecipients.scenarios.ts
  api/src/services/subrecipients/subrecipients.ts
  api/src/services/uploads/uploads.scenarios.ts
  api/src/services/users/users.scenarios.ts
  api/src/services/users/users.test.ts
  api/src/services/users/users.ts
  api/types/graphql.d.ts
  scripts/seed.ts
  web/src/components/User/EditUserCell/EditUserCell.tsx
  web/src/components/User/UserCell/UserCell.tsx
  web/src/components/User/UsersCell/UsersCell.tsx
  web/types/graphql.d.ts
Labels: enhancement, javascript, database

#115 fix: generate aws-auth after build step
  .github/workflows/deploy-staging.yml
Labels: bug, github
