Repository usdigitalresponse/cpf-reporter, pull requests merged in 2024-01, with the labels that each got.

#67 Fix skipped CI reports
  .github/workflows/ci.yml
Labels: bug, github

#59 Configure passage API key in AWS environments
  api/package.json
  api/src/lib/auth.ts
  terraform/functions.tf
  terraform/main.tf
  yarn.lock
Labels: enhancement, javascript, terraform, infra, dependencies

#66 add Lambda function to respond to S3 put events and add json files
  api/src/functions/cpfValidation/cpfValidation.scenarios.ts
  api/src/functions/cpfValidation/cpfValidation.test.ts
  api/src/functions/cpfValidation/cpfValidation.ts
  api/src/functions/excelToJson/excelToJson.scenarios.ts
  api/src/functions/excelToJson/excelToJson.test.ts
  api/src/functions/excelToJson/excelToJson.ts
  api/src/lib/aws.ts
  terraform/functions.tf
  web/src/Routes.tsx
Labels: enhancement, javascript, terraform, infra

#55 QA reporting enhancements
  .github/workflows/publish-qa-results.yml
  .github/workflows/qa.yml
  api/src/lib/aws.ts
  docs/resolving-qa-failures.md
  terraform/.tflint.hcl
Labels: bug, documentation, enhancement, github, javascript, terraform, infra

#68 Fix/66 new lambdas iac
  api/src/functions/cpfValidation/cpfValidation.ts
  api/src/lib/aws.ts
  terraform/functions.tf
Labels: bug, javascript, terraform, infra

#65 add cell for fetching organization reportingPeriods and agencies
  api/src/graphql/organizations.sdl.ts
  api/src/lib/auth.ts
  api/src/services/organizations/organizations.ts
  api/types/graphql.d.ts
  web/src/components/Organization/OrganizationPickListsCell/OrganizationPickListsCell.mock.ts
  web/src/components/Organization/OrganizationPickListsCell/OrganizationPickListsCell.stories.tsx
  web/src/components/Organization/OrganizationPickListsCell/OrganizationPickListsCell.test.tsx
  web/src/components/Organization/OrganizationPickListsCell/OrganizationPickListsCell.tsx
  web/src/components/Upload/NewUpload/NewUpload.tsx
  web/src/components/Upload/UploadForm/UploadForm.tsx
  web/types/graphql.d.ts
Labels: enhancement, javascript

#70 fix: add auth-provider to allow header
  terraform/api_gateway.tf
Labels: bug, terraform, infra

#71 fix: remove duplicate routes
  web/src/Routes.tsx
  web/src/auth.ts
Labels: bug, javascript

#75 Bugfix/CPF-74 - Creating a new agency not visible to the user
  api/src/graphql/agencies.sdl.ts
  api/types/graphql.d.ts
  web/src/components/Agency/AgencyForm/AgencyForm.tsx
  web/src/components/Agency/EditAgencyCell/EditAgencyCell.tsx
  web/src/pages/Agency/AgenciesPage/AgenciesPage.tsx
  web/types/graphql.d.ts
Labels: javascript

#72 add Create/Edit capability for Reporting Periods
  api/src/graphql/reportingPeriods.sdl.ts
  api/src/services/reportingPeriods/reportingPeriods.scenarios.ts
  api/src/services/reportingPeriods/reportingPeriods.ts
  api/types/graphql.d.ts
  scripts/seed.ts
  web/src/App.tsx
  web/src/Routes.tsx
  web/src/components/ReportingPeriod/EditReportingPeriodCell/EditReportingPeriodCell.tsx
  web/src/components/ReportingPeriod/NewReportingPeriod/NewReportingPeriod.tsx
  web/src/components/ReportingPeriod/ReportingPeriod/ReportingPeriod.tsx
  web/src/components/ReportingPeriod/ReportingPeriodCell/ReportingPeriodCell.tsx
  web/src/components/ReportingPeriod/ReportingPeriodForm/ReportingPeriodForm.tsx
  web/src/components/ReportingPeriod/ReportingPeriods/ReportingPeriods.tsx
  web/src/components/ReportingPeriod/ReportingPeriodsCell/ReportingPeriodsCell.tsx
  web/src/components/ReportingPeriodsCell/ReportingPeriodsCell.tsx
  web/src/components/TemplateUploadReportingPeriodCell/TemplateUploadReportingPeriodCell.mock.ts
  web/src/components/TemplateUploadReportingPeriodCell/TemplateUploadReportingPeriodCell.stories.tsx
  web/src/components/TemplateUploadReportingPeriodCell/TemplateUploadReportingPeriodCell.test.tsx
  web/src/components/TemplateUploadReportingPeriodCell/TemplateUploadReportingPeriodCell.tsx
  web/src/pages/ReportingPeriod/EditReportingPeriodPage/EditReportingPeriodPage.tsx
  web/src/pages/ReportingPeriod/NewReportingPeriodPage/NewReportingPeriodPage.tsx
  web/src/pages/ReportingPeriod/ReportingPeriodPage/ReportingPeriodPage.tsx
  web/src/pages/ReportingPeriod/ReportingPeriodsPage/ReportingPeriodsPage.stories.tsx
  web/src/pages/ReportingPeriod/ReportingPeriodsPage/ReportingPeriodsPage.test.tsx
  web/src/pages/ReportingPeriod/ReportingPeriodsPage/ReportingPeriodsPage.tsx
  web/src/pages/UploadTemplatePage/UploadTemplatePage.tsx
  web/src/scaffold.css
  web/types/graphql.d.ts
Labels: enhancement, javascript

#87 Fix: Postgres auth in Staging console
  api/src/lib/db.ts
  terraform/ecs_redwood_console.tf
Labels: bug, javascript, terraform, infra

#90 make expenditure_category nullable on an Upload
  api/db/migrations/20240126151638_expenditure_category_nullable/migration.sql
  api/db/schema.prisma
  api/src/graphql/uploads.sdl.ts
  api/src/services/uploads/uploads.scenarios.ts
  api/src/services/uploads/uploads.test.ts
  api/src/services/uploads/uploads.ts
  api/types/graphql.d.ts
  scripts/seed.ts
  web/src/components/Upload/NewUpload/NewUpload.tsx
  web/src/components/Upload/UploadForm/UploadForm.tsx
  web/types/graphql.d.ts
Labels: enhancement, javascript, database

#91 Fix prisma CLI in Redwood ECS console
  api/src/lib/db.ts
  terraform/ecs_redwood_console.tf
Labels: bug, javascript, terraform, infra
