Repository usdigitalresponse/cpf-reporter, pull requests merged in 2024-09, with the labels that each got.

#409 CPF-408 Implement Reporting Period Certification Storage
  api/db/migrations/20240904164008_add_reporting_period_certification_model/migration.sql
  api/db/schema.prisma
  api/src/graphql/organizations.sdl.ts
  api/src/graphql/reportingPeriodCertifications.sdl.ts
  api/src/graphql/reportingPeriods.sdl.ts
  api/src/graphql/users.sdl.ts
  api/src/services/organizations/organizations.ts
  api/src/services/reportingPeriodCertifications/reportingPeriodCertifications.scenarios.ts
  api/src/services/reportingPeriodCertifications/reportingPeriodCertifications.test.ts
  api/src/services/reportingPeriodCertifications/reportingPeriodCertifications.ts
  api/src/services/reportingPeriods/reportingPeriods.ts
  api/src/services/users/users.test.ts
  api/src/services/users/users.ts
Labels: enhancement, javascript, database

#412 fix: ensure that when files are missing in s3 the client receives a 404 instead of a 403
  terraform/treasury_generation_lambda_functions.tf
Labels: bug, terraform, infra

#416 fix: ensure object-path is defined as a condition and not on the resource-name
  terraform/treasury_generation_lambda_functions.tf
Labels: bug, terraform, infra

#399 chore: email treasury report zip file
  python/poetry.lock
  python/pyproject.toml
  python/src/functions/generate_presigned_url_and_send_email.py
  python/src/lib/email.py
  python/src/lib/s3_helper.py
  python/src/static/email_templates/base.html
  python/src/static/email_templates/formatted_body.html
  terraform/production.tfvars
  terraform/staging.tfvars
  terraform/treasury_generation_lambda_functions.tf
  terraform/variables.tf
Labels: terraform, infra, dependencies, python

#424 fix: ensure nosuchkey exceptions are appropriately handled
  python/src/functions/generate_treasury_report.py
  python/src/functions/subrecipient_treasury_report_gen.py
  python/src/lib/email.py
  python/src/lib/treasury_generation_common.py
Labels: bug, python

#425 fix: updates code to 404 rather than NoSuchKey
  python/src/functions/generate_treasury_report.py
  python/src/functions/subrecipient_treasury_report_gen.py
  python/src/lib/s3_helper.py
  python/src/lib/treasury_generation_common.py
Labels: bug, python

#428 Add more errors, make output writeable
  python/src/functions/generate_treasury_report.py
Labels: python

#429 fix: mistaken export and updated typing
  api/src/functions/processValidationJson/processValidationJson.ts
  api/src/lib/aws.ts
Labels: bug, javascript

#433 fix: update output-file permissions to read-write instead of write-only
  python/src/functions/generate_treasury_report.py
Labels: bug, python

#434 fix: update to open file as binary
  python/src/functions/generate_treasury_report.py
Labels: bug, python

#435 Fix: ensure CSV file is opened as string and not binary
  python/src/functions/generate_treasury_report.py
  python/src/lib/workbook_utils.py
Labels: bug, python

#421 CPF-410 Certify reporting period and transition to the next one
  api/src/graphql/reportingPeriods.sdl.ts
  api/src/services/reportingPeriods/reportingPeriods.scenarios.ts
  api/src/services/reportingPeriods/reportingPeriods.test.ts
  api/src/services/reportingPeriods/reportingPeriods.ts
Labels: enhancement, javascript

#437 chore: fix date output
  python/src/functions/generate_treasury_report.py
  python/src/schemas/schema_V2024_04_01.py
  python/src/schemas/schema_V2024_05_24.py
Labels: bug, python

#441 Serialize decimal with 2 decimal points
  python/src/functions/generate_treasury_report.py
  python/src/schemas/custom_types.py
  python/src/schemas/schema_V2024_04_01.py
  python/src/schemas/schema_V2024_05_24.py
Labels: python

#442 chore: Replace conint and constr with new types
  python/src/functions/generate_treasury_report.py
  python/src/schemas/custom_types.py
  python/src/schemas/schema_V2024_04_01.py
  python/src/schemas/schema_V2024_05_24.py
  python/tests/conftest.py
Labels: python

#443 CPF-415 Updated reporting periods table and certification modal
  api/src/graphql/organizations.sdl.ts
  api/src/graphql/reportingPeriods.sdl.ts
  api/src/services/organizations/organizations.ts
  api/src/services/reportingPeriods/reportingPeriods.ts
  web/src/Routes.tsx
  web/src/components/Navigation/Navigation.tsx
  web/src/components/ReportingPeriod/ReportingPeriods/ReportingPeriods.tsx
  web/src/components/ReportingPeriod/ReportingPeriods/columns.tsx
  web/src/components/ReportingPeriod/ReportingPeriodsCell/ReportingPeriodsCell.mock.ts
  web/src/components/ReportingPeriod/ReportingPeriodsCell/ReportingPeriodsCell.stories.tsx
  web/src/components/ReportingPeriod/ReportingPeriodsCell/ReportingPeriodsCell.test.tsx
  web/src/components/ReportingPeriod/ReportingPeriodsCell/ReportingPeriodsCell.tsx
  web/src/components/ReportingPeriodsCell/ReportingPeriodsCell.mock.ts
  web/src/components/ReportingPeriodsCell/ReportingPeriodsCell.tsx
  web/src/layouts/AuthenticatedLayout/AuthenticatedLayout.tsx
  web/src/pages/ReportingPeriod/ReportingPeriodsPage/ReportingPeriodsPage.tsx
Labels: enhancement, javascript

#440 fix: current reporting period
  api/src/graphql/organizations.sdl.ts
  api/src/services/organizations/organizations.scenarios.ts
  api/src/services/organizations/organizations.test.ts
  api/src/services/organizations/organizations.ts
  web/src/components/Organization/OrganizationPickListsCell/OrganizationPickListsCell.tsx
Labels: bug, enhancement, javascript, python

#448 CPF-446 Add Reporting Period column to the Uploads page
  web/src/components/Upload/Uploads/Uploads.tsx
  web/src/components/Upload/Uploads/columns.tsx
  web/src/components/Upload/UploadsCell/UploadsCell.tsx
Labels: enhancement, javascript

#449 CPF-447 Subrecipient upload links redirect to upload detail
  web/src/components/Subrecipient/SubrecipientTableUploadLinksDisplay/SubrecipientTableUploadLinksDisplay.tsx
  web/src/components/Subrecipient/SubrecipientsCell/SubrecipientsCell.tsx
Labels: enhancement, javascript

#454 Fix: Error related to saving subrecipients for treasury-report generation
  api/src/functions/processValidationJson/processValidationJson.ts
  python/src/functions/subrecipient_treasury_report_gen.py
  terraform/functions.tf
  terraform/treasury_generation_lambda_functions.tf
Labels: bug, javascript, terraform, infra, python

#456 fix: ensure CSV and JSON files are written as text but read as binary for s3 upload
  python/src/functions/generate_treasury_report.py
  python/src/functions/subrecipient_treasury_report_gen.py
Labels: bug, python

#450 Feat: Invalidate upload #385
  api/db/migrations/20240910190935_add_is_manual_field_upload_validation/migration.sql
  api/db/schema.prisma
  api/src/graphql/uploadValidations.sdl.ts
  api/src/services/uploads/uploads.ts
  web/src/components/Upload/Upload/Upload.tsx
  web/src/components/Upload/UploadCell/UploadCell.tsx
  web/src/components/Upload/UploadValidationButtonGroup/UploadValidationButtonGroup.tsx
  web/src/components/Upload/UploadValidationStatus/UploadValidationStatus.tsx
  web/src/components/Upload/Uploads/columns.tsx
  web/src/components/Upload/UploadsCell/UploadsCell.tsx
  web/src/components/User/Users/Users.tsx
Labels: enhancement, javascript, database

#407 Jest testing env setting
  api/setup-jest.ts
Labels: bug, javascript
